* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  cursor: text;
}

*::selection {
  background-color: #00ffab;
  color: #2c3539;
}

body {
  background-color: #2c3539;
  color: #d3d3d3;
  font-size: 15px;
  font-weight: 300;
}

.main-container {
  height: fit-content;
  padding: 20px;
}

.ascii-name {
  color: #fbcb0a;
  font-size: 0.7vw;
}

.introduction {
}

.message-text {
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0;
}

.help-text {
  font-size: 17px;
  font-weight: 400;
  color: #00ffab;
}

.command-result {
  margin: 15px 0;
  padding-left: 20px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-label {
  color: #fbcb0a;
}

.input-command {
  width: 100%;
  padding: 10px 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
}

.input-text {
  color: #00ffab;
}

.command-not-found {
  font-size: 17px;
  color: #ff0032;
}

.data-dt {
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: lowercase;
  color: #fbcb0a;
}
.data-dd {
  margin-top: 5px;
  margin-left: 20px;
}

.data-li {
  text-transform: capitalize;
  list-style-type: square;
  font-weight: 400;
}

.about-text {
  font-weight: 400;
}

.data-table {
  border-collapse: collapse;
  color: #fff;
}

.data-name-th {
  text-align: left;
  padding-bottom: 20px;
}

.data-description-td {
  padding-bottom: 20px;
  vertical-align: top;
  padding-left: 20px;
}

.data-link {
  text-decoration-style: solid;
  color: #fbcb0a;
  cursor: pointer;
}
